body,html{
   height: 100%;
}
.bg{
    background-image: url("./images/images.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 700px 600px ;
    height: 70vh;
    width: 100vw;
    filter: saturate(0);
  
}
.bg:hover{
    filter: blur(1px);
}
 h2{ 
    padding-top: 40px;
    padding-left: 10px;
}
.name{
    font-family: 'Zeyada', cursive;
    color: black;
}
#heading1 ,#heading2{
    font-family: 'Zeyada';
    font-size:x-large;
    font-weight: 900;
    color: black;
    margin: auto;
    margin-left: 85%;
    font-weight:bold;
   
    
}
#heading2{
    margin-top: 10%;

}
#img{
    background-image: url("./images/17664c02625d2be350ff3ae085646dd0.jpeg");
    background-position: cover;
    background-repeat: no-repeat ,no-repeat;
    max-width: 1200px;
    margin-top: 15%;
    background-size: 180px 160px;

}

para{
    text-align: justify;
    margin-top: -10px;
    letter-spacing: 2px;
    font-size: 1.3em;
    color: black;
}
.title > h1{
  font-family: "Moon Dance", cursive;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color:gray;

}
.timeline{
    margin: 0%;
    font-family: "Passions Conflict", cursive;
    font-weight: 900;
    font-style: normal;
    background-image: url("./images/SuIVZ4.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 2rem;
    color: white;
}
.timeline::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    position: fixed;
}
*{
    margin: 0;
    padding: 0;
}
p{
    margin-bottom: 0.5em;
    color: white;
}
.body{
    margin: 5em,auto;
    max-width: 34.15em;
}
.checkpoint{
    max-width: 24em;
    padding-top: 1em;
    padding-bottom: 1em;
    position: relative;
}
.checkpoint div{
border: 2px solid gray;
border-radius: 1em;
padding: 1.5em;
}
.checkpoint p{
    line-height: 27px;
    
}
.checkpoint:nth-child(odd){
    margin-left: 20%;
    border-left: 3px solid white;
    padding-left: 3em;
    transform: translate(17em);
}
.checkpoint:nth-child(even){
    margin-left: -20%;
    padding-left: 3em;
    transform: translate(17em);
}




